
<div class="content-heading">
    <div>
        Registro de clientes
        <small>Clientes veterinaria Vetpet</small>
    </div>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="clientRegistration" class="form-validate form-horizontal" (submit)="save($event)" novalidate="">
                <!-- START card-->
                <div class="card card-default">
                    <div class="card-body">
                        <fieldset class="b0">
                            <legend>Nuevo:</legend>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Número telefónico</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="phone_number" [formControl]="clientRegistration.controls['phone_number']" />
                                    <span class="text-danger" *ngIf="clientRegistration.controls['phone_number'].hasError('required') && (clientRegistration.controls['phone_number'].dirty || clientRegistration.controls['phone_number'].touched)">El teléfono es obligatorio!</span>
                                    <span class="text-danger" *ngIf="clientRegistration.controls['phone_number'].hasError('pattern') && (clientRegistration.controls['phone_number'].dirty)">Este campo debe ser numerico!</span>
                                </div>
                                <div class="col-lg-4">
                                    <small class="text-muted">Este campo debe ser único</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Nombre</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="name" [formControl]="clientRegistration.controls['name']" />
                                    <span class="text-danger" *ngIf="clientRegistration.controls['name'].hasError('required') && (clientRegistration.controls['name'].dirty || clientRegistration.controls['name'].touched)">El nombre es obligatorio!</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Dirección</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="address" [formControl]="clientRegistration.controls['address']" />
                                    <span class="text-danger" *ngIf="clientRegistration.controls['address'].hasError('required') && (clientRegistration.controls['address'].dirty || clientRegistration.controls['address'].touched)">La dirección es obligatoria!</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">RFC</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="rfc" [formControl]="clientRegistration.controls['rfc']" />
                                    <span class="text-danger" *ngIf="clientRegistration.controls['rfc'].hasError('required') && (clientRegistration.controls['rfc'].dirty || clientRegistration.controls['rfc'].touched)">El RFC es obligatorio!</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Correo electrónico</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="email" [formControl]="clientRegistration.controls['email']" />
                                    <span class="text-danger" *ngIf="clientRegistration.controls['email'].hasError('required') && (clientRegistration.controls['email'].dirty || clientRegistration.controls['email'].touched)">El correo electrónico es obligatorio!</span>
                                    <span class="text-danger" *ngIf="clientRegistration.controls['email'].hasError('email') && (clientRegistration.controls['email'].dirty)">Formato de correo electrónico invalido</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-info" type="submit">Guardar</button>
                    </div>
                </div>
                <!-- END card-->
            </form>
        </div>
    </div>
    <!-- END row-->

</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
