
<div class="content-heading">
  <div>
    Caja
    <small>Venta productos y/o servicios Vetpet</small>
  </div>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card card-default">
        <div class="card-header">
          <h4>
            Datos de la venta
          </h4>
        </div>
        <div class="card-body">
          <b>
            Empleado actual responsable de caja:
          </b>5524659865 - Alfonso Juarez <br>
          <b>
            Folio para esta venta:
          </b> {{invoice}}
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-default">
        <div class="card-header">
          <h4>Busqueda de cliente</h4>
        </div>
        <div class="card-body">
          <form class="form-inline">
            <label class="sr-only" for="inlineFormInputGroupUsername2">Telefono</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">#</div>
              </div>
              <input [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" class="form-control" id="inlineFormInputGroupUsername2" type="text" placeholder="Telefono de cliente" />
            </div>
            <button class="btn btn-primary mb-2" type="submit" (click)="findClient()">Buscar</button>
          </form>
          <div *ngIf="clientFound">
            <b>
              Cliente:
            </b> {{client.name}} <br>
            <b>
              Telefono:
            </b> {{client.phone_number}}<br>
            <b>
              RFC:
            </b>{{client.rfc}}
            <br>
            <b>
              Acumulado para bonificacion:
            </b>{{client.bonus | currency}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card card-default" *ngIf="clientFound">
        <div class="card-header"><b>
          Productos
        </b>
        </div>
        <div class="card-body">


          <mat-form-field>
            <input matInput placeholder="codigo/nombre" [matAutocomplete]="auto" [formControl]="productCtl" (keydown)="clearProduct($event)">
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="getName.bind(this)" (optionSelected)="viewProduct()">
            <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
              {{ getName(product) }}
            </mat-option>
          </mat-autocomplete>

          <div *ngIf="productValid">
            <b>Codigo de producto: </b> {{ productCtl.value.id }}
            <b>Nombre: </b> {{productCtl.value.name}}<br>
            <b>Descripcion: </b>{{productCtl.value.description}}<br>
            <b>Precio: </b>{{productCtl.value.price | currency}}<br>
            <b>En inventario: </b>{{productCtl.value.inventory}}
          </div>

          <form class="form-inline" *ngIf="productValid">
            <div class="form-group">
              <label>Cantidad</label>
              <input [formControl]="numberProductsCtl" type="number" class="form-control">
            </div>
            <button class="btn btn-primary mb-2" type="button" (click)="addProduct($event)">Añadir producto</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-default"  *ngIf="clientFound">
        <div class="card-header"><b>
          Servicios
        </b>
        </div>
        <div class="card-body">
          <mat-form-field>
            <input matInput placeholder="Codigo / nombre" [matAutocomplete]="auto" [formControl]="serviceCtl" (keydown)="clearService($event)">
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDescription.bind(this)" (optionSelected)="viewService()">
            <mat-option *ngFor="let service of filteredServices | async" [value]="service">
              {{ getDescription(service) }}
            </mat-option>
          </mat-autocomplete>

          <div *ngIf="serviceValid">
            <b>Codigo de servicio: </b> {{ serviceCtl.value.id }} <br>
            <b>Tipo: </b> {{serviceCtl.value.type == 'veterinarian' ? 'Veterinario': 'Grooming'}}<br>
            <b>Descripcion: </b>{{serviceCtl.value.description}}<br>
            <b>Precio: </b>{{serviceCtl.value.price | currency}}<br>
          </div>

          <form class="form-inline" *ngIf="serviceValid">
            <div class="form-group">
              <label>Cantidad</label>
              <input [formControl]="numberServicesCtl" type="number" class="form-control">
            </div>
            <button class="btn btn-primary mb-2" type="button" (click)="addService($event)">Añadir servicio</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card card-default"  *ngIf="clientFound && items.length > 0">
  <div class="card-header"><b>
    Descripción de la venta:
  </b>
  </div>
  <div class="card-body">
      <!-- START table-responsive-->
      <div class="table-responsive">
        <table class="table table-bordered table-hover" id="table-ext-1">
          <thead>
          <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio unitario</th>
            <th>Cantidad</th>
            <th>Importe</th>
            <th></th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of items;let i= index">
            <td> <span *ngIf="item.type=='service'">S</span><span *ngIf="item.type=='product'">P</span>-0{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.price | currency}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price * item.quantity | currency}}</td>
            <td>
              <em class="fa-2x mr-2 fas fa-trash-alt" (click)="removeItem(i);" tooltip="Eliminar {{item.type=='product' ? 'producto' : 'servicio'}}" style="cursor:pointer;"></em></td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- END table-responsive-->
  </div>
</div>
  <div class="card card-default"  *ngIf="clientFound && items.length > 0">
    <div class="card-header"><b>
      Detalle:
    </b>
    </div>
    <div class="card-body">
      <!-- START table-responsive-->
      <div class="table-responsive">
        <table class="table table-bordered table-hover" id="table-ext-12">
          <tbody>
          <tr>
            <th>Subtotal</th>
            <td>{{ subtotal | currency}}</td>
          </tr>
          <tr>
            <th>IVA</th>
            <td>{{ tax | currency}}</td>
          </tr>
          <tr>
            <th>

              <div class="c-checkbox">
                <label>
                  <input type="checkbox" [(ngModel)]="bonus" (change)="toggleBonus()" />
                  <span class="fa fa-check"></span>Aplicar bono</label>
              </div>
             </th>
            <td>
              <div *ngIf="bonus && bonuses.length > 0">
                <div class="c-checkbox" *ngFor="let b of bonuses; let i = index">
                  <label>
                    <input type="checkbox" [(ngModel)]="b.apply" (change)="applyBonus();" />
                    <span class="fa fa-check"></span>{{b.amount | currency}}</label>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th>Total</th>
            <td>{{total | currency}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-info" type="submit" (click)="resetCash()">Cancelar</button>
        <button class="btn btn-info" type="submit" (click)="saveSale()">Pagar</button>
      </div>
      <!-- END table-responsive-->
    </div>
  </div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
