<div class="content-heading">
  <div>
    Ventas
    <small>Consulta de ventas Vetpet</small>
  </div>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card card-default">
        <div class="card-header">
          <h4>
            <b>
              Busqueda por folio
            </b>
          </h4>
        </div>
        <div class="card-body">
          <form class="form-inline">
            <label class="sr-only" for="inlineFormInputGroupUsername2">Folio</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">#</div>
              </div>
              <input [(ngModel)]="invoice" [ngModelOptions]="{standalone: true}" class="form-control" id="inlineFormInputGroupUsername2" type="text" placeholder="Folio de la venta" />
            </div>
            <button class="btn btn-primary mb-2" type="submit" (click)="findSale()">Buscar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-default" *ngIf="saleFound">
        <div class="card-header">
          <h4>
            <b>
              Venta:
            </b> {{sale.invoice}}
          </h4>
        </div>
        <div class="card-body">
          <b>Fecha: </b> {{sale.date}} <br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card card-default" *ngIf="saleFound">
        <div class="card-header">
          <h4>
            <b>
              Cliente
            </b>
          </h4>
        </div>
        <div class="card-body">
          <b>Telefono: </b>{{sale.client.phone_number}} <br>
          <b>Nombre: </b>{{sale.client.name}} <br>
          <b>Direccion: </b>{{sale.client.address}} <br>
          <b>RFC: </b>{{sale.client.rfc}}
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-default" *ngIf="saleFound">
        <div class="card-header">
          <h4>
            <b>
              Empleado
            </b>
          </h4>
        </div>
        <div class="card-body">
          <b>Telefono: </b>{{sale.employee.phone_number}} <br>
          <b>Nombre: </b>{{sale.employee.name}} <br>
          <b>Fecha de contratación: </b>{{sale.employee.hiring_date}} <br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card card-default" *ngIf="saleFound && sale.products.length > 0">
        <div class="card-header">
          <h4>
            <b>
              Productos
            </b>
          </h4>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Precio unitario</th>
              <th>Cantidad</th>
              <th>Importe</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of sale.products;let i= index">
              <td> {{item.product_id}}</td>
              <td>{{item.product.name}}</td>
              <td>{{item.product.description}}</td>
              <td>{{item.price | currency}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.price * item.quantity | currency}}</td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-default" *ngIf="saleFound && sale.services.length > 0">
        <div class="card-header">
          <h4>
            <b>
              Servicios
            </b>
          </h4>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Codigo</th>
              <th>Descripcion</th>
              <th>Precio unitario</th>
              <th>Cantidad</th>
              <th>Importe</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of sale.services;let i= index">
              <td> {{item.service_id}}</td>
              <td>{{item.service.description}}</td>
              <td>{{item.price | currency}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.price * item.quantity | currency}}</td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6" *ngIf="saleFound && sale.bonuses.length > 0">
      <div class="card card-default">
        <div class="card-header">
          <h4><b>Bonificaciones utilizadas</b></h4>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>id</th>
              <th>Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of sale.bonuses;let i= index">
              <td> {{item.id}}</td>
              <td>{{item.amount|currency}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-6" *ngIf="saleFound">
      <div class="card card-default">
        <div class="card-header">
          <h4>
            <b>Pago</b>
          </h4>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <tbody>
            <tr>
              <th>Subtotal</th>
              <td> {{subtotal|currency}}</td>
            </tr>
            <tr>
              <th>IVA</th>
              <td>{{tax|currency}}</td>
            </tr>
            <tr>
              <th>Bonificación</th>
              <td>{{bonus|currency}}</td>
            </tr>
            <tr>
              <th>Total</th>
              <td>{{total|currency}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>






<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
