
<div class="content-heading">
    <div>
        Registro
        <small>Productos veterinaria Vetpet</small>
    </div>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="productRegistration" class="form-validate form-horizontal" (submit)="save($event)" novalidate="">
                <!-- START card-->
                <div class="card card-default">
                    <div class="card-body">
                        <fieldset class="b0">
                            <legend>Nuevo:</legend>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Precio</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="price" [formControl]="productRegistration.controls['price']" />
                                    <span class="text-danger" *ngIf="productRegistration.controls['price'].hasError('required') && (productRegistration.controls['price'].dirty || productRegistration.controls['price'].touched)">El precio es requerido!</span>
                                    <span class="text-danger" *ngIf="productRegistration.controls['price'].hasError('pattern') && (productRegistration.controls['price'].dirty)">Este campo debe ser numerico!</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Categoria</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="category" [formControl]="productRegistration.controls['category']"
                                           name="category"/>

                                    <span class="text-danger" *ngIf="productRegistration.controls['category'].hasError('required') && (productRegistration.controls['category'].dirty || productRegistration.controls['category'].touched)">La categoria es obligatoria!</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Stock maximo</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="max_stock" [formControl]="productRegistration.controls['max_stock']" />
                                    <span class="text-danger" *ngIf="productRegistration.controls['max_stock'].hasError('required') && (productRegistration.controls['max_stock'].dirty || productRegistration.controls['min_stock'].touched)">El stock maximo es obligatorio!</span>
                                    <span class="text-danger" *ngIf="productRegistration.controls['max_stock'].hasError('pattern') && (productRegistration.controls['max_stock'].dirty)">Este campo debe ser numerico!</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Stock minimo</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="min_stock" [formControl]="productRegistration.controls['min_stock']" />
                                    <span class="text-danger" *ngIf="productRegistration.controls['min_stock'].hasError('required') && (productRegistration.controls['min_stock'].dirty || productRegistration.controls['min_stock'].touched)">El stock minimo es obligatorio!</span>
                                    <span class="text-danger" *ngIf="productRegistration.controls['min_stock'].hasError('pattern') && (productRegistration.controls['min_stock'].dirty)">Este campo debe ser numerico!</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                          <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Inventario actual</label>
                            <div class="col-lg-6">
                              <input class="form-control" type="text" formControlName="inventory" [formControl]="productRegistration.controls['inventory']" />
                              <span class="text-danger" *ngIf="productRegistration.controls['inventory'].hasError('required') && (productRegistration.controls['inventory'].dirty || productRegistration.controls['inventory'].touched)">El inventario actual es obligatorio!</span>
                              <span class="text-danger" *ngIf="productRegistration.controls['inventory'].hasError('pattern') && (productRegistration.controls['inventory'].dirty)">Este campo debe ser numerico!</span>
                            </div>
                            <div class="col-lg-4">

                            </div>
                          </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Descripción</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="description" [formControl]="productRegistration.controls['description']" />
                                    <span class="text-danger" *ngIf="productRegistration.controls['description'].hasError('required') && (productRegistration.controls['description'].dirty || productRegistration.controls['description'].touched)">La descripción es obligatoria! </span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Ubicación</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="location" [formControl]="productRegistration.controls['location']" />
                                    <span class="text-danger" *ngIf="productRegistration.controls['location'].hasError('required') && (productRegistration.controls['location'].dirty || productRegistration.controls['location'].touched)">La ubicación es obligatoria! </span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Nombre</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="name" [formControl]="productRegistration.controls['name']" />
                                    <span class="text-danger" *ngIf="productRegistration.controls['name'].hasError('required') && (productRegistration.controls['name'].dirty || productRegistration.controls['name'].touched)">El nombre es obligatorio!</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Marca</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="brand" [formControl]="productRegistration.controls['brand']" />
                                    <span class="text-danger" *ngIf="productRegistration.controls['brand'].hasError('required') && (productRegistration.controls['brand'].dirty || productRegistration.controls['brand'].touched)">La marca es obligatoria!</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-info" type="submit">Guardar</button>
                    </div>
                </div>
                <!-- END card-->
            </form>
        </div>
    </div>
    <!-- END row-->

</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
