
<div class="content-heading">
    <div>
        Registro de empleados
        <small>Empleados veterinaria Vetpet</small>
    </div>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="employeeRegistration" class="form-validate form-horizontal" (submit)="save($event)" novalidate="">
                <!-- START card-->
                <div class="card card-default">
                    <div class="card-body">
                        <fieldset class="b0">
                            <legend>Nuevo:</legend>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Nombre</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="name" [formControl]="employeeRegistration.controls['name']" />
                                    <span class="text-danger" *ngIf="employeeRegistration.controls['name'].hasError('required') && (employeeRegistration.controls['name'].dirty || employeeRegistration.controls['name'].touched)">El nombre es obligatorio!</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Puesto</label>
                                <div class="col-lg-6">
                                    <select class="form-control" formControlName="job" [formControl]="employeeRegistration.controls['job']">
                                        <option value="veterinarian">Veterinario</option>
                                        <option value="receptionist">Recepcionista</option>
                                        <option value="cashier">Cajero</option>
                                        <option value="administration">Administración</option>
                                        <option value="cleaning">Servicios generales</option>
                                        <option value="storer">Almacen</option>
                                        <option value="manager">Gerente</option>
                                    </select>
                                    <!--<input class="form-control" type="text" formControlName="job" [formControl]="employeeRegistration.controls['job']" />-->
                                    <span class="text-danger" *ngIf="employeeRegistration.controls['job'].hasError('required') && (employeeRegistration.controls['job'].dirty || employeeRegistration.controls['job'].touched)">El puesto es obligatorio!</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Salario diario</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="daily_salary" [formControl]="employeeRegistration.controls['daily_salary']" />
                                    <span class="text-danger" *ngIf="employeeRegistration.controls['daily_salary'].hasError('required') && (employeeRegistration.controls['daily_salary'].dirty || employeeRegistration.controls['daily_salary'].touched)">El salario diario es requerido!</span>
                                    <span class="text-danger" *ngIf="employeeRegistration.controls['daily_salary'].hasError('pattern') && (employeeRegistration.controls['daily_salary'].dirty)">Este campo debe ser numerico!</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Fecha de contratación</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="date" formControlName="hiring_date" [formControl]="employeeRegistration.controls['hiring_date']"
                                           [(ngModel)]="fecha" name="fecha"/>

                                     <span class="text-danger" *ngIf="employeeRegistration.controls['hiring_date'].hasError('required') && (employeeRegistration.controls['hiring_date'].dirty || employeeRegistration.controls['hiring_date'].touched)">La fecha de contratación es obligatoria!</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Dirección</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="address" [formControl]="employeeRegistration.controls['address']" />
                                    <span class="text-danger" *ngIf="employeeRegistration.controls['address'].hasError('required') && (employeeRegistration.controls['address'].dirty || employeeRegistration.controls['address'].touched)">La dirección es obligatoria!</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Telefono</label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" formControlName="phone_number" [formControl]="employeeRegistration.controls['phone_number']" />
                                    <span class="text-danger" *ngIf="employeeRegistration.controls['phone_number'].hasError('required') && (employeeRegistration.controls['phone_number'].dirty || employeeRegistration.controls['phone_number'].touched)">El telefono es obligatorio!</span>
                                    <span class="text-danger" *ngIf="employeeRegistration.controls['phone_number'].hasError('pattern') && (employeeRegistration.controls['phone_number'].dirty)">Este campo debe ser numerico!</span>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-info" type="submit">Guardar</button>
                    </div>
                </div>
                <!-- END card-->
            </form>
        </div>
    </div>
    <!-- END row-->

</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
